<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Super Sprinter 3000</title>
</head>
<body>
<h1>Super Sprinter 3000</h1>
<a href="{{ url_for('add_story') }}">Add a New User Story</a>
<table>
    <thead>
        <tr>
            {% for item in header %}
                <th>{{ ' '.join(item.split('_')).title() }}</th>
            {% endfor %}
        </tr>
        <tbody>
            {% for item in user_stories %}
                <tr>
                {% for key,value in item.items() %}
                    {% if key == 'title' %}
                        <td><a href="{{ url_for('update_story', id=item['id']) }}">{{ value }}</a></td>
                    {% elif key == 'business_value' %}
                        <td> {{ value }} point</td>
                    {% elif key == 'estimation' %}
                        <td> {{ value }}h</td>
                    {% else %}
                        <td> {{ value }}</td>
                    {% endif %}
                {%  endfor %}
                </tr>
            {% endfor %}
</tbody>
    </thead>
</table>
</body>
</html>
