{% extends 'story.html' %}
{%  block update_form %}
    <h1>Update User Story</h1>
    <form action="{{ url_for('update_story', id=story['id']) }}" method="POST">
    <label>Story Title:</label><br>
    <input name="title" type="text" minlength="5" required="required" value='{{ story['title'] }}'><br>
    <br>
    <label>User Story:</label><br>
    <textarea name="user_story" rows="4" cols="40" required="required">{{ story['user_story'] }}</textarea><br>
    <br>
    <label>Acceptance Criteria:</label><br>
    <textarea name="acceptance_criteria" rows="6" cols="40" required="required">{{ story['acceptance_criteria'] }}</textarea><br>
    <br>
    <label>Business value:</label><br>
    <input name="business_value" type="number" min="100" max="1500" step="100" value='{{ story['business_value'] }}'><br>
    <br>
    <label>Estimation:</label><br>
    <input name="estimation" type="number" min="0.5" max="40" step="0.5" value='{{ story['estimation'] }}'><br>
    <br>
    <label>Status:</label><br>
        <select name="status">
            {% for item in status %}
                {% if item == story['status'] %}
                    <option value="{{ item }}" selected>{{ item }}</option>
                {% else %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endif %}
            {% endfor %}
        </select>
    <br><br>
    <button type="submit">Add new User Story</button>
    </form>
{% endblock %}
{%  block update_title %}
<title>Update User Story | Super Sprinter 3000</title>
{% endblock %}